
header {
    font-family: Impact;
    color: lightgrey;
    text-align: center
}
  
  .catlist {
          grid-area: sidebar;
      }
  
      .catblog {
          grid-area: content;
      }
  
      .catheader {
          grid-area: header;
      }
  
      .catvideo {
          grid-area: footer;
      }
  
  
      .wrapper {
          display: grid;
      grid-gap: 10px;
          grid-template-columns: 120px 120px 120px;
          grid-template-areas:
      "....... header header"
          "sidebar content content"
          "footer  footer  footer";
          background-color: #fff;
          color: #444;
      }
  
  
  .catbox {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  .catheader,
  .catfooter {
    background-color: #999;
  }

.page-header {
    font-family: Impact;
    color: lightgrey;
    text-align: center;
}

.logo {
    width: 151px;
    padding: 1px 1px;
    margin-top: 1px;
    margin-left: 40px;
}

h1 {
    color: lightgrey;
    text-shadow: 3px 2px black;
    font-family: Impact;
    letter-spacing: 5px;
}
body {
    min-width: 1100px;
    background-image: url("images/hw_background.jpg");
}

.box {
    float: left;
    width: 20vw;
    height: 40vh;
    padding: 5px;
}

p {
    font-family: "Tahoma";
    text-align: justify;
    color: white;
}

h4 {
    color: black;
    font-size: 20px;
}

.blog {
    background-color: rgb(102, 0, 204);
    opacity: .7;
   
    width: 50vw;
    height: 80vh;
    border: 5px solid black;
    float: right;
    padding: 20px 40px;
  
}

.loot-box {
    float: left;
    margin-left: 40px;
    font-size: 20px;
    font-family: Tahoma;
}

#loot {
    background-color: lightgray;
    opacity: .5;
    width: 370px;
    border: 5px solid grey;
    padding: 250px 10px;
    text-align: left; 
    list-style-type: square;
}

.images {
    margin: 0 auto;
}

.youtube {
    display: block;
    width: 100%
}

.scene {
    display: block;
    margin: 0 auto;
    max-width: 500px
}

.empty {

margin-top: 100px;
margin-bottom: 100px;

}

footer p {
    text-align: center;
}




